<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Blog Title....</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li>Blog Title....</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-6">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img class="img-fluid" src="img/6.jpg" alt="" height="200px" width="200px">
              </div>

              <div class="swiper-slide">
                <img class="img-fluid" src="img/2.png" alt="" height="200px" width="200px">
              </div>

              <div class="swiper-slide">
                <img class="img-fluid" src="img/5.jpg" alt="" height="200px" width="200px">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="portfolio-info">
            <h3>Blog Title</h3>
            <ul>
              <li><strong>Category</strong>: Diet and Fitness</li>
              <!-- <li><strong>Client</strong>: ASU Company</li> -->
              <li><strong>Date</strong>: 01 March, 2023</li>
              <!-- <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="portfolio-description">
            <h2>This is an example of portfolio detail</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis perferendis ex perspiciatis quaerat
              corrupti qui asperiores deleniti maxime ipsum ullam unde, nostrum quia minima dolor cumque quam
              officiis. Cupiditate, fuga! Fuga aspernatur facilis illum iusto porro unde, consectetur qui nesciunt
              libero nulla et rem voluptate voluptates odio. Eius similique quia nam dolor delectus, aut culpa enim
              mollitia, dolorem at blanditiis provident, maiores a soluta veritatis. Cumque quae nobis eum illo quos
              vitae quod debitis reprehenderit. Quod doloribus magnam adipisci cupiditate animi illo obcaecati iusto
              omnis, doloremque laboriosam dolore similique hic excepturi, nihil explicabo recusandae ipsum culpa enim
              rerum modi et aperiam ut eligendi? Molestiae saepe accusamus, quam enim error repellendus quia! At harum
              veniam ratione perferendis natus repudiandae, consequuntur ipsa deserunt blanditiis? Modi tempore
              corrupti tenetur amet quibusdam alias vel at nisi? Repellat dignissimos odit natus quisquam quis iusto
              dolores corporis soluta sed reprehenderit voluptatem velit, corrupti praesentium consequatur eligendi
              vel earum eaque adipisci est modi ratione placeat repellendus quod inventore. Temporibus mollitia,
              nihil, accusamus dignissimos soluta, sed sunt voluptatum vel ab dolorum in doloremque tempora fuga ipsa.
              Rerum quo neque consequuntur ullam fugiat sequi optio suscipit sint temporibus ex. Temporibus voluptate
              culpa minima repudiandae, at neque eum dignissimos a, recusandae, delectus porro. Soluta doloribus iste
              ipsum expedita delectus, ut quisquam nam sint atque dolore velit animi neque quibusdam rerum accusamus
              quos, nobis consequatur totam facilis officia enim! Quae adipisci, facilis, at cum quia amet eveniet
              dolorum quidem sed tenetur commodi quibusdam? Ea beatae neque, commodi, inventore sapiente assumenda
              exercitationem odio, repudiandae iure at maiores qui. Aliquam accusantium tempore pariatur, mollitia
              eligendi optio quis adipisci quo aut repudiandae ipsam inventore esse beatae laborum quod blanditiis
              asperiores, ad officiis at exercitationem. Eos, delectus expedita alias, provident facere nam earum
              atque, hic vitae eius non fugiat. Ex, inventore dicta, cumque possimus cupiditate aliquid consectetur,
              quos ipsam pariatur vitae aliquam reiciendis ad fugit maxime aut voluptates natus! Voluptates tempore
              distinctio cumque error ea ducimus, vitae adipisci aut dolor omnis deserunt expedita libero, fugiat
              laborum dicta. Consequuntur possimus voluptas molestias minus eius recusandae, dolor quis mollitia
              officiis, a rem inventore soluta voluptatem. Aperiam architecto optio, eligendi provident ipsum
              quibusdam eius accusamus voluptatem similique voluptates itaque esse distinctio adipisci, maiores
              quisquam deleniti in dolor. Iure deleniti nostrum inventore nulla accusamus cumque, laboriosam,
              doloribus sequi exercitationem soluta nesciunt eius voluptas impedit. Qui voluptatibus magni molestias
              odio ipsa itaque, officiis, facilis libero labore blanditiis soluta quis dolor recusandae voluptate
              necessitatibus dignissimos consequuntur. Enim doloremque quidem est reiciendis iste amet dolore
              asperiores harum dicta vitae error, inventore eius! Totam qui sint ex, dolorem possimus laudantium
              magnam reiciendis sunt facilis eligendi amet nulla voluptate iusto at sed? Eaque laudantium rem porro
              itaque ex nulla autem tenetur voluptatem, officiis incidunt. Architecto similique assumenda laborum
              facere..
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

  <div class="container mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="d-flex flex-column comment-section">
          <!-- <div class="bg-white p-2">
            <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg"
                width="40">
              <div class="d-flex flex-column justify-content-start ml-2"><span
                  class="d-block font-weight-bold name">Marry Andrews</span><span class="date text-black-50">Shared
                  publicly - Jan 2020</span></div>
            </div>
            <div class="mt-2">
              <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div> -->
          <div class="bg-white">
            <div class="d-flex flex-row fs-12">
              <div class="like p-2 cursor"><i class="fa-regular fa-thumbs-up"></i><span class="ml-1">Like</span></div>
              <div class="like p-2 cursor mx-2"><i class="fa-regular fa-comment"></i></i><span class="ml-1">Comment</span></div>
              <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
            </div>
          </div>
          <!-- <img class="rounded-circle"
                src="https://i.imgur.com/RpzrMR2.jpg" width="40"> -->
          <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-center"><textarea
                class="form-control ml-1 shadow-none textarea"></textarea></div>
            <div class="mt-2 text-center"><button class="btn btn-primary btn-sm shadow-none" type="button">Post
                comment</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main><!-- End #main -->